/** Image Asset **/

div.asset-image {
    margin: 0.5em;
    padding: 1em;
}
div.asset-image > a {
}

div.asset-image > a > img {
    width: 100%;
    vertical-align: top;
}

@media only screen and (max-width: 640px) {
    div.asset-image > a > img {
        display: block;
        margin: auto;
        max-width: 90vw;
        max-height: inherit;
    }
}

@media only screen and (min-width: 640px) {
    div.asset-image.right {
        max-width: 26vw;
        float: right;
    }
    div.asset-image.left {
        max-width: 26vw;
        float: left;
    }
    div.asset-image.list {
        max-width: 26vw;
        float: left;
    }
    div.asset-image:not(.left):not(.right) {
        max-width: 800px;
        margin: auto;
        /*clear: both;*/
    }
}