/** Image Asset **/

div.asset-image {
    margin: 0.5em;
}
div.asset-image > a > img {
    max-height: 24em;
    max-width: 24vw;
    vertical-align: top;
    margin: 1em;
}

@media only screen and (max-width: 640px) {
    div.asset-image > a > img {
        display: block;
        margin: auto;
        max-width: 90vw;
    }
}
@media only screen and (min-width: 640px) {
    div.asset-image.even {
        float: right;
    }
    div.asset-image.odd {
        float: left;
    }
}

