/** Image Asset **/

div.asset-list {
    /*margin: 0.5em;*/
    /*padding: 1em;*/
    /*max-width: 800px;*/
    /*max-height: 600px;*/
    /*text-align: center;*/
}

/** Spread **/

div.asset-list.spread {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: center;*/
}



@media only screen and (min-width: 640px) {

    /** Float **/

    div.asset-list.right {
        float: right;
        max-width: 24vw;
        padding: 0.5em;
    }
    div.asset-list.left {
        float: left;
        max-width: 24vw;
        padding: 0.5em;
    }
    div.asset-list.left > img.asset-image,
    div.asset-list.right > img.asset-image {
        width: 100%;
    }


    div.asset-list > img.asset-image {
        /*width: 100%;*/
        padding-bottom: 1em;
    }
    div.asset-list > img.asset-image:last-child {
        padding-bottom: inherit;
    }
    div.asset-list.spread {
        /*display: flex;*/
        /*flex-wrap: wrap;*/
    }

    div.asset-list.spread > * {
        float: left;
        padding: 0.5em;
    }
    div.asset-list.spread > *:nth-child(2n) {
        /*float: right;*/
    }

    div.asset-list.spread > img.asset-image {
        /*max-width: 44vw;*/
    }
}


@media only screen and (min-width: 800px) {
    div.asset-list.left,
    div.asset-list.right {
    }
    div.asset-list.spread > img.asset-image {
        max-height: 30vw;
        /*max-width: 30vw;*/
    }
}

@media only screen and (min-width: 1800px) {
    div.asset-list.left,
    div.asset-list.right {
        max-width: 30em;
    }
    div.asset-list.list {
        max-width: 28em;
    }
    div.asset-list.spread > img.asset-image {
        max-height: 28em;
        /*max-width: 48em;*/
    }
}
