div.asset-browser {

}

div.asset-browser > div.bottom-text {
    cursor: pointer;
    display: block;
    text-align: center;
    clear: both;
}
div.asset-browser > div.bottom-text:hover {
    color: #3333AA;
}

/** Files **/
div.asset-browser > div.files {
}


/** Directories **/

div.asset-browser > div.directories {
    padding: 1em;
}

div.asset-browser > div.directories > a {
    display: block;
}
