/** Markdown Asset **/

div.asset-markdown {
    display: block;
    margin: 0 10vw;
    /*max-width: 1200px;*/
}
div.asset-markdown > p {
    margin: 0 2vw;
    text-indent: 4px;
    /*max-width: 1000px;*/
}

